# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android specific
android/**/generated/
android/app/src/main/res/drawable-*/
android/app/src/main/res/mipmap-*/

# Files I want to keep private
# assets/tools/ is now tracked for release builds
*.pem
*.jks
security/
configs/private/
