name: Build & Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install Dependencies
        run: flutter pub get
      - name: Build Windows
        working-directory: samsconnect
        run: flutter build windows --release
      - name: Archive Production
        uses: the-coding-turtle/ga-project-release-helper@v1.1
        with:
          project-name: SamsConnect
          release-tag: ${{ github.ref_name }}
          artifacts: build/windows/runner/Release/*
          token: ${{ secrets.GITHUB_TOKEN }}
